body {
    background-color:black;
}
h1 {
    
    font-size: 25px;
    text-align:center;
    color: white;
}

.img {

    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 150px; 
    height: 50%;
    

}